*~
*.class
*#
.#*
/LEE/tp2/Pierogis2/nbproject/private/
/LEE/tp2/Pierogis2/Pierogis2-war/nbproject/private/
/LEE/tp2/Pierogis2/Pierogis2-ejb/nbproject/private/
/LEE/tp2/Pierogis2/Pierogis2-ejb/build/
/LEE/tp2/Pierogis2/Pierogis2-ejb/dist/
/LEE/tp2/Pierogis2/Pierogis2-war/build/
/LEE/tp2/Pierogis2/Pierogis2-war/dist/
/LEE/tp2/Pierogis2/build/
/LEE/tp3/LinguiTroc/nbproject/private/
/LEE/tp3/LinguiTroc/LinguiTroc-war/nbproject/private/
/LEE/tp3/LinguiTroc/LinguiTroc-ejb/nbproject/private/
/LEE/tp3/LinguiTroc/LinguiTroc-ejb/build/
/LEE/tp3/LinguiTroc/LinguiTroc-ejb/dist/
/LEE/tp3/LinguiTroc/LinguiTroc-war/build/
/LEE/tp3/LinguiTroc/build/
/LEE/tp3/LinguiTroc/dist/
/LEE/tp3/LinguiTroc/LinguiTroc-war/dist/
/LEE/tp3bis/LinguiTrocBis/nbproject/private/
/LEE/tp3bis/LinguiTrocBis/LinguiTrocBis-war/nbproject/private/
/LEE/tp3bis/LinguiTrocBis/LinguiTrocBis-ejb/nbproject/private/
/LEE/tp3bis/LinguiTrocBis/LinguiTrocBis-ejb/build/
/LEE/tp3bis/LinguiTrocBis/LinguiTrocBis-ejb/dist/
/LEE/tp3bis/LinguiTrocBis/LinguiTrocBis-war/build/
/LEE/tp3bis/LinguiTrocBis/build/
/LEE/tp3bis/LinguiTrocBis/LinguiTrocBis-war/dist/
/LEE/tp3bis/LinguiTrocBis/dist/
/LEE/Langue/nbproject/private/
/LEE/Langue/Langue-war/nbproject/private/
/LEE/Langue/Langue-ejb/nbproject/private/
/LEE/Langue/Langue-ejb/build/
/LEE/Langue/Langue-ejb/dist/
/LEE/Langue/build/
/LEE/Langue/dist/
/LEE/Langue/Langue-war/build/
/LEE/Langue/Langue-war/dist/